.tab-now {
  position: relative;
}

.tab__item {
  display: none;
  height: 341px;
  overflow-y: auto;
  scrollbar-width: none;
}

.tab__item::-webkit-scrollbar {
  width: 4px;
}

.tab__item::-webkit-scrollbar-track {
  background: rgba(250, 236, 218);
  border-left: 1px solid black;
}
.tab__item::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.active {
  display: block;
}
