.added-cities__item {
  line-height: 40px;
  max-width: 260px;
  display: flex;
  justify-content: space-between;
}
.added-cities__item span {
  cursor: pointer;
}

.added-cities__item span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.added-cities__item button {
  margin-left: auto;
}

.delete-city {
  width: 18px;
  height: 16px;
  margin-top: 13px;
  margin-right: 3px;
  background-image: url(../src/img/close-icon.svg);
}

.delete-city:hover {
  cursor: pointer;
}
